REDIS_ADDRESS=redis://localhost:6379/0
RABBITMQ_ADDRESS=amqp://localhost//
SMTP_MAIL_SERVER=smtp.gmail.com
SMTP_MAIL_PORT=587
SMTP_MAIL_USERNAME=smtp-email
SMTP_MAIL_PASSWORD=smtp-password
SMTP_MAIL_USE_TLS=True
SMTP_MAIL_USE_SSL=False